In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import sys
sys.path.append('src/')

import loading
import preprocessing

In [3]:
df = loading.load_data()

decoupage_communal
mutations_d75_localized.csv
mutations_d77_localized.csv
mutations_d78_localized.csv
mutations_d91_localized.csv
mutations_d92_localized.csv
mutations_d93_localized.csv
mutations_d94_localized.csv
mutations_d95_localized.csv

In [20]:
df_sell, df_buy = preprocessing.filter_dataset(df)
df_sell = preprocessing.add_geodata(df_sell)
df_buy = preprocessing.add_geodata(df_buy)

c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sell['valm2'] = df_sell.valeurfonc/df_sell.sbatapt

In [21]:
df_sell.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,nblot,valm2,rooms,insee,geometry
0,2014,12,75,75111,48.857732,2.377628,1,11763.351724,2,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ..."
1,2017,9,75,75115,48.831603,2.303665,2,11621.621622,2,75115,"POLYGON ((2.30132 48.82513, 2.28940 48.82835, ..."
2,2018,9,75,75109,48.880333,2.329507,1,12014.084507,3,75109,"POLYGON ((2.32575 48.86955, 2.32712 48.88348, ..."
3,2015,3,75,75111,48.857732,2.377628,1,7347.368421,1,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ..."
4,2016,10,75,75120,48.864276,2.402716,2,10148.297297,2,75120,"POLYGON ((2.41597 48.84663, 2.39911 48.84810, ..."

In [22]:
df_buy.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,valm2,insee,geometry
0,2018.0,3.0,75.0,75111,48.857596,2.389315,4886.877828,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ..."
1,2015.0,10.0,75.0,75117,48.890238,2.313217,4129.037005,75117,"POLYGON ((2.29515 48.87387, 2.27995 48.87858, ..."
2,2018.0,2.0,75.0,75120,48.875070,2.404519,5068.965517,75120,"POLYGON ((2.41597 48.84663, 2.39911 48.84810, ..."
3,2016.0,12.0,75.0,75117,48.900310,2.329192,1500.000000,75117,"POLYGON ((2.29515 48.87387, 2.27995 48.87858, ..."
4,2015.0,12.0,75.0,75118,48.896227,2.357496,8872.710037,75118,"POLYGON ((2.32712 48.88348, 2.32998 48.90116, ..."