In [113]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [114]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

import sys
sys.path.append('src/')

import loading
import preprocessing

In [115]:
df = loading.load_data()

mutations_d77_localized.csv
mutations_d94_localized.csv
mutations_d93_localized.csv
decoupage_idf.csv
mutations_d78_localized.csv
decoupage_communal
mutations_d92_localized.csv
mutations_d75_localized.csv
mutations_d95_localized.csv
mutations_d91_localized.csv

In [123]:
df_sell, df_buy = preprocessing.filter_dataset(df)
df_sell = preprocessing.add_geodata(df_sell)
df_buy = preprocessing.add_geodata(df_buy)

src/preprocessing.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sell['valm2'] = df_sell.valeurfonc/df_sell.sbatapt

In [124]:
df_sell.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,nblot,valm2,rooms,insee,geometry
0,2017,12,77,77131,48.807846,3.088145,2,3244.897959,2,77131,"POLYGON ((3.08470 48.78774, 3.08229 48.79626, ..."
1,2018,6,77,77330,48.932906,2.886263,2,3266.545455,3,77330,"POLYGON ((2.90638 48.91413, 2.89629 48.91295, ..."
2,2017,2,77,77326,48.577792,2.559852,2,4186.842105,1,77326,"POLYGON ((2.56035 48.56623, 2.55574 48.57071, ..."
3,2014,7,77,77152,48.520764,2.626232,4,2345.679012,4,77152,"POLYGON ((2.64100 48.49451, 2.63405 48.49695, ..."
4,2015,9,77,77284,48.960648,2.883236,2,4486.363636,2,77284,"POLYGON ((2.91670 48.94048, 2.89731 48.93667, ..."

In [125]:
df_buy.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,valm2,insee,geometry
0,2014.0,3.0,77.0,77051,48.411341,3.244150,0.000130,77051,"POLYGON ((3.25431 48.40923, 3.23598 48.40515, ..."
1,2019.0,12.0,77.0,77058,48.840547,2.725606,0.715564,77058,"POLYGON ((2.72802 48.79730, 2.72119 48.80604, ..."
2,2014.0,10.0,77.0,77108,48.888489,2.609890,0.085812,77108,"POLYGON ((2.62568 48.87413, 2.61537 48.86871, ..."
3,2019.0,9.0,77.0,77330,48.934583,2.887611,410.447761,77330,"POLYGON ((2.90638 48.91413, 2.89629 48.91295, ..."
4,2016.0,2.0,77.0,77268,48.871396,2.817855,0.132532,77268,"POLYGON ((2.83451 48.85938, 2.81443 48.85568, ..."

In [126]:
df_buy = preprocessing.add_communal_div(df_buy)
df_sell = preprocessing.add_communal_div(df_sell)

In [127]:
df_buy.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,valm2,geometry,code_zone
0,2014.0,3.0,77.0,77051,48.411341,3.244150,0.000130,"POLYGON ((3.25431 48.40923, 3.23598 48.40515, ...",B2
1,2019.0,12.0,77.0,77058,48.840547,2.725606,0.715564,"POLYGON ((2.72802 48.79730, 2.72119 48.80604, ...",A
2,2014.0,10.0,77.0,77108,48.888489,2.609890,0.085812,"POLYGON ((2.62568 48.87413, 2.61537 48.86871, ...",A
3,2019.0,9.0,77.0,77330,48.934583,2.887611,410.447761,"POLYGON ((2.90638 48.91413, 2.89629 48.91295, ...",A
4,2016.0,2.0,77.0,77268,48.871396,2.817855,0.132532,"POLYGON ((2.83451 48.85938, 2.81443 48.85568, ...",A