In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


import sys
sys.path.append('src/')

import loading
import preprocessing

In [3]:
df = loading.load_data()

decoupage_communal
mutations_d75_localized.csv
mutations_d77_localized.csv
mutations_d78_localized.csv
mutations_d91_localized.csv
mutations_d92_localized.csv
mutations_d93_localized.csv
mutations_d94_localized.csv
mutations_d95_localized.csv

In [20]:
df_sell, df_buy = preprocessing.filter_dataset(df)
df_sell = preprocessing.add_geodata(df_sell)
df_buy = preprocessing.add_geodata(df_buy)

c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sell['valm2'] = df_sell.valeurfonc/df_sell.sbatapt

In [21]:
df_sell.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,nblot,valm2,rooms,insee,geometry
0,2014,12,75,75111,48.857732,2.377628,1,11763.351724,2,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ..."
1,2017,9,75,75115,48.831603,2.303665,2,11621.621622,2,75115,"POLYGON ((2.30132 48.82513, 2.28940 48.82835, ..."
2,2018,9,75,75109,48.880333,2.329507,1,12014.084507,3,75109,"POLYGON ((2.32575 48.86955, 2.32712 48.88348, ..."
3,2015,3,75,75111,48.857732,2.377628,1,7347.368421,1,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ..."
4,2016,10,75,75120,48.864276,2.402716,2,10148.297297,2,75120,"POLYGON ((2.41597 48.84663, 2.39911 48.84810, ..."

In [22]:
df_buy.head()

,anneemut,moismut,coddep,l_codinsee,latitude,longitude,valm2,insee,geometry
0,2018.0,3.0,75.0,75111,48.857596,2.389315,4886.877828,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ..."
1,2015.0,10.0,75.0,75117,48.890238,2.313217,4129.037005,75117,"POLYGON ((2.29515 48.87387, 2.27995 48.87858, ..."
2,2018.0,2.0,75.0,75120,48.875070,2.404519,5068.965517,75120,"POLYGON ((2.41597 48.84663, 2.39911 48.84810, ..."
3,2016.0,12.0,75.0,75117,48.900310,2.329192,1500.000000,75117,"POLYGON ((2.29515 48.87387, 2.27995 48.87858, ..."
4,2015.0,12.0,75.0,75118,48.896227,2.357496,8872.710037,75118,"POLYGON ((2.32712 48.88348, 2.32998 48.90116, ..."

In [33]:
df_train = df_sell[:15000]
df_test = df_sell[15000:]

df_test.shape

(4185, 11)

In [34]:
df_train = preprocessing.compute_neighborhood_price_train(df_train,dist_max = 350)

c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['radian_longitude'] = df.longitude.apply(radians)
c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['radian_latitude'] = df.latitude.apply(radians)
C:\Users\peptr\AppData\Roaming\Python\Python39\site-packages\numpy\core\fromnumeric.py:3440: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
C:\Users\peptr\AppData\Roaming\Python\Python39\site-packages\numpy\core\_methods.py:189: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:106: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['neighborhood_price'] = Neigh_price
c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:107: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mean_distance_neigh'] = mean_distance

In [35]:
df_train.shape

(14934, 16)

In [36]:
df_test = preprocessing.compute_neighborhood_price_test(df_train,df_test,dist_max = 350)

c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:135: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\Users\peptr\Desktop\HEC\Eleven challenge\Augmented-Proposal---Challenge-Eleven\src\preprocessing.py:136: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test['neighborhood_price'] = Neigh_price

In [30]:
df_test

,level_0,index,anneemut,moismut,coddep,l_codinsee,latitude,longitude,nblot,valm2,rooms,insee,geometry,radian_longitude,radian_latitude,neighborhood_price,mean_distance_neigh
0,0,0,2014,12,75,75111,48.857732,2.377628,1,11763.351724,2,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ...",0.041497,0.852728,11142.303074,0.000000
1,1,1,2017,9,75,75115,48.831603,2.303665,2,11621.621622,2,75115,"POLYGON ((2.30132 48.82513, 2.28940 48.82835, ...",0.040207,0.852272,10703.620100,0.000000
2,2,2,2018,9,75,75109,48.880333,2.329507,1,12014.084507,3,75109,"POLYGON ((2.32575 48.86955, 2.32712 48.88348, ...",0.040658,0.853123,11539.632238,21683.209649
3,3,3,2015,3,75,75111,48.857732,2.377628,1,7347.368421,1,75111,"POLYGON ((2.39911 48.84810, 2.36902 48.85323, ...",0.041497,0.852728,11142.303074,0.000000
4,4,4,2016,10,75,75120,48.864276,2.402716,2,10148.297297,2,75120,"POLYGON ((2.41597 48.84663, 2.39911 48.84810, ...",0.041935,0.852843,9431.840388,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,9995,10044,2019,9,92,92023,48.802954,2.258306,1,6625.000000,2,92023,"POLYGON ((2.22884 48.77447, 2.22656 48.77610, ...",0.039415,0.851772,7012.885010,0.000000
9987,9996,10045,2019,6,92,92071,48.781526,2.280993,1,8100.000000,1,92071,"POLYGON ((2.29025 48.76660, 2.27883 48.77629, ...",0.039811,0.851398,6792.343655,0.000000
9988,9997,10046,2014,11,92,92024,48.897108,2.308206,3,6584.158416,4,92024,"POLYGON ((2.30378 48.89415, 2.28739 48.90364, ...",0.040286,0.853416,5992.722979,3857.962719
9989,9998,10047,2015,3,92,92012,48.844855,2.242324,2,13733.333333,1,92012,"POLYGON ((2.23610 48.82155, 2.23264 48.82274, ...",0.039136,0.852504,10094.495978,0.000000
9990,9999,10048,2014,3,92,92009,48.916901,2.277415,2,6542.857143,3,92009,"POLYGON ((2.26640 48.90629, 2.26482 48.90404, ...",0.039748,0.853761,6542.857143,960.610099

In [10]:
df_sell.valm2.corr(df_sell.neighborhood_price)

0.9295661596356626